{% extends 'layout.twig' %}

{% trans_default_domain 'silex_user' %}

{% block title %}{{ parent() }} - {{ 'registration.confirmed.title'|trans }}{% endblock %}

{% block body %}

<p>{{ 'registration.confirmed.message'|trans({'%username%': user.username}) }}</p>

{% if not app.user %}
    <a href="{{ path('silex_user.login') }}">{{ 'global.login'|trans }}</a>
{% endif %}

{% endblock %}
