{% extends 'layout.twig' %}

{% block title %}{{ parent() }} - {{ 'silex_user.registration.confirmed.title'|trans }}{% endblock %}

{% block body %}

<p>{{ 'silex_user.registration.confirmed.message'|trans({'%username%': user.username}) }}</p>
<a href="{{ path('silex_user.login') }}">{{ 'silex_user.global.login'|trans }}</a>

{% endblock %}
