{% extends 'layout.twig' %}

{% trans_default_domain 'silex_user' %}

{% block title %}{{ parent() }} - {{ 'registration.title'|trans }}{% endblock %}

{% block body %}

<div class="container">
    <h1>{{ 'registration.title'|trans }}</h1>
    {{ form_start(form, { 'attr': { 'class': 'ui error form' } }) }}
        <div class="form-group">
            {{ form_label(form.username) }}
            {{ form_widget(form.username, { attr: { class: 'form-control' } }) }}
            {{ form_errors(form.username) }}
        </div>
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, { attr: { class: 'form-control' } }) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.password) }}
            {{ form_widget(form.plainPassword.password, { attr: { class: 'form-control' } }) }}
            {{ form_errors(form.plainPassword.password) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.confirm_password) }}
            {{ form_widget(form.plainPassword.confirm_password, { attr: { class: 'form-control' } }) }}
            {{ form_errors(form.plainPassword.confirm_password) }}
        </div>

        {{ form_rest(form) }}
        <input type="submit" class="btn btn-primary">
    {{ form_end(form) }}
</div>

{% endblock %}
