{% extends 'layout.twig' %}

{% trans_default_domain 'silex_user' %}

{% block title %}{{ parent() }} - {{ 'registration.confirmed.title'|trans }}{% endblock %}

{% block body %}

<div class="ui container">
    <p>{{ 'registration.confirmed.message'|trans({'%username%': user.username}) }}</p>

    {% if not app.user %}
        <a href="{{ path('silex_user.login') }}" class="ui circular button">{{ 'global.login'|trans }}</a>
    {% endif %}
</div>

{% endblock %}
