{% extends 'layout.twig' %}

{% block title %}{{ parent() }} - {{ 'silex_user.login.title'|trans }}{% endblock %}

{% block body %}

<form action="{{ path('login_check') }}" method="POST">
    {{ error }}
    <div>
        <label for="username">{{ 'silex_user.form.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">
    </div>
    <div>
        <label for="password">{{ 'silex_user.form.password'|trans }}</label>
        <input type="password" id="password" name="_password" value="">
    </div>

    <input type="submit">
</form>

{% endblock %}
